table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $c-gray--light;
  width: 100%;
}

th {
  text-align: left;
  border: 1px solid transparent;
  padding: $space-half;
  text-transform: uppercase;
  vertical-align: top;
  font-size: $font-size-xxs;
  font-weight: 400;
  line-height: 15px;
  background-color: $c-gray--15;
  color: $c-gray--60;
}

tr {
  border: 1px solid transparent;
}

td {
  border: 1px solid transparent;
  padding: $space-half;
}
