.c-secondary-nav {

  &__parent-list {
    display: flex;
    list-style-type: none;
  }

  &__parent-list-item {
    &:not(:last-child) {
      .c-secondary-nav__link {
        color: $c-gray--30;
        text-decoration: underline;
        text-underline-position: under;
        pointer-events: auto;

        &:hover {
          color: $c-gray--15;
        }
      }

      &:after {
        content: ">";
        display: inline-flex;
        padding: 0 $space-half;
        color: $c-gray--30;
        font-weight: bold;
        font-size: $font-size-xs;
      }
    }
  }

  &__link {
    color: $c-white;
    pointer-events: none;
    font-size: $font-size-xs;
  }
}