.o-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &#{&}--quotes {
    margin-bottom: $space-half;
    width: 100%;
    height: 100%;
  }

  &--xsmall,
  &--xsmall svg {
    width: $icon-xsmall;
    height: $icon-xsmall;
    min-width: $icon-xsmall;
  }

  &--small,
  &--small svg {
    width: $icon-small;
    height: $icon-small;
    min-width: $icon-small;
  }

  &--medium,
  &--medium svg {
    width: $icon-medium;
    height: $icon-medium;
    min-width: $icon-medium;
  }

  &--large,
  &--large svg {
    width: $icon-large;
    height: $icon-large;
    min-width: $icon-large;
  }

  &--xlarge,
  &--xlarge svg {
    width: $icon-xlarge;
    height: $icon-xlarge;
    min-width: $icon-xlarge;
  }

  &--xxlarge,
  &--xxlarge svg {
    width: $icon-xxlarge;
    height: $icon-xxlarge;
    min-width: $icon-xxlarge;
  }
}

.o-icon-menu-toggle {
  position: relative;
  cursor: pointer;
  padding: $space-half;
  width: 43px;
  height: 43px;

  span {
    display: block;
    width: 23px;
    height: 1px;
    background-color: $c-white;
    margin-bottom: 8px;
    transition: $transition-all;

    &:nth-child(2) {
      width: 15px;
      opacity: 1;
      visibility: visible;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.primary-nav-is-active {
    span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;

      &:first-child {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
        visibility: hidden;
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }
  }
}
