{% set base_class = icon.base_class|default('o-icon') %}
{% if icon.name %}
  <div class="{{ bem(base_class, icon.element, icon.modifiers, icon.extra) }}">
    {% include "@" ~ icon.name %}
  </div>
{% endif %}
