{% set base_class = icon.base_class|default('o-icon-menu-toggle') %}
<div class="{{ bem(base_class, icon.element, icon.modifiers, icon.extra) }} js-toggle" data-toggled="body" data-prefix="primary-nav" aria-label="Menu">
  <span></span>
  <span></span>
  <span></span>
</div>
