{% set base_class = tag.base_class|default('o-tag') %}
{% if tag.text %}
  <div class="{{ bem(base_class, tag.element, tag.modifiers, tag.extra) }}" data-letter="{{ tag.text|first }}">
    <span>{{ tag.text }}</span>
  </div>
{% endif %}
