{% set base_class = breadcrumbs.base_class|default('c-breadcrumbs') %}
{% if breadcrumbs.items %}
  <nav role="navigation" class="{{ bem(base_class, breadcrumbs.element, breadcrumbs.modifiers, breadcrumbs.extra) }}">
    <ul class="{{ bem(base_class, 'parent-list') }}">
      {% for item in breadcrumbs.items %}
        <li class="{{ bem(base_class, 'parent-list-item') }}">
          {% include "@link" with {
            "link": {
              "text": item.text,
              "url": item.url,
              "target": item.target,
              "extra": bem(base_class, 'link'),
            }
          } %}
        </li>
      {% endfor %}
    </ul>
  </nav>
{% endif %}
