/* ------------------------------------ *\
    $BUTTONS
\* ------------------------------------ */

@mixin o-button($bg-color: $c-secondary, $color: $c-white, $border-color: $c-secondary, $bg-color-hover: $c-teal, $color-hover: $c-white, $border-color-hover: $c-teal) {
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  background-color: $bg-color;
  color: $color;
  padding: $space-half $space-and-half;
  transition: $transition-all;
  border-radius: 50px;
  border: 1px solid $border-color;
  box-shadow: $box-shadow--small;
  @include o-heading--s;
  font-weight: 500;

  &:focus,
  &:hover {
    color: $color-hover;
    background-color: $bg-color-hover;
    border-color: $border-color-hover;
  }

  span + span {
    margin-left: $space-half;
  }

  svg path {
    fill: currentColor;
  }
}

@mixin o-button--secondary {
  @include o-button($c-white, $c-primary, $c-white, $c-primary, $c-white, $c-primary);
}

@mixin o-button--tertiary {
  @include o-button(transparent, $c-white, $c-white, $c-primary, $c-white, $c-primary);
}

@mixin o-button--small {
  padding: $space-quarter $space !important;
}

@mixin o-button--circle {
  width: 30px;
  height: 30px;
}

.o-button {
  @include o-button;

  &--secondary {
    @include o-button--secondary;
  }

  &--tertiary {
    @include o-button--tertiary;
  }

  &--small {
    @include o-button--small;
  }

  &--circle {
    @include o-button--circle;
  }
}
