/* ------------------------------------ *\
    $BUTTONS
\* ------------------------------------ */

@mixin o-button($bg-color: $button-background-color--primary, $color: $button-color--primary, $bg-color-hover: $button-background-hover-color--primary, $color-hover: $button-hover-color--primary) {
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  background-color: $bg-color;
  color: $color;
  padding: 8px $space;
  transition: $transition-all;
  font-size: $font-size-body;
  font-weight: 500;
  line-height: 24px;

  &:focus,
  &:hover {
    color: $color-hover;
    background-color: $bg-color-hover;
  }

  &:disabled,
  &[disabled] {
    color: $button-disabled-color;
    background-color: $button-background-disabled-color;
  }

  .o-icon + span,
  span + .o-icon {
    margin-left: $space-half;
  }

  svg {
    width: $icon-xsmall;
    height: $icon-xsmall;

    * {
      fill: currentColor;
    }
  }
}

@mixin o-button--secondary {
  @include o-button($button-background-color--secondary, $button-color--secondary, $button-background-hover-color--secondary, $button-hover-color--secondary);
}

@mixin o-button--small {
  padding: $space-quarter $space !important;
}

.o-button {
  @include o-button;

  &--secondary {
    @include o-button--secondary;
  }

  &--small {
    @include o-button--small;
  }
}
