/* ------------------------------------ *\
    $BUTTONS
\* ------------------------------------ */

@mixin o-button($bg-color: $button-background-color--primary, $color: $button-color--primary, $bg-color-hover: $button-background-hover-color--primary, $color-hover: $button-hover-color--primary) {
  cursor: pointer;
  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  background-color: $bg-color;
  color: $color;
  padding: 8px $space;
  transition: $transition-all;
  font-size: $font-size-body;
  font-weight: 500;
  line-height: 24px;

  &:hover {
    color: $color-hover;
    background-color: $bg-color-hover;
  }

  &:disabled,
  &[disabled] {
    color: $button-disabled-color;
    background-color: $button-background-disabled-color;
    pointer-events: none;

    &.o-button--icon-right:not(.o-button--icon-left) span + .o-icon {
      border-left-color: $c-gray--15;
    }
  }

  .o-icon + span,
  span + .o-icon {
    margin-left: $space-half;
  }

  svg {
    width: $icon-xsmall;
    height: $icon-xsmall;
    width: $icon-xsmall;

    * {
      fill: currentColor;
    }
  }

  &--icon-right:not(.o-button--icon-left) {
    min-width: 150px;
    text-align: left;
    justify-content: space-between;
    align-items: stretch;
    padding: 0;

    span {
      padding: 8px $space;
    }

    span + .o-icon {
      padding: 0 $space-half;
      border-left: 1px solid $c-gray--60;
      transition: $transition-all;
    }
  }
}

@mixin o-button--secondary {
  @include o-button($button-background-color--secondary, $button-color--secondary, $button-background-hover-color--secondary, $button-hover-color--secondary);

  &.o-button--icon-right:not(.o-button--icon-left) span + .o-icon {
    border-left-color: $c-gray--45;
  }

  &:hover,
  &:focus {
    &.o-button--icon-right:not(.o-button--icon-left) span + .o-icon {
      border-left-color: $c-gray--30;
    }
  }
}

@mixin o-button--small {
  padding: $space-quarter $space !important;
}

.o-button {
  @include o-button;

  &--secondary {
    @include o-button--secondary;
  }

  &--small {
    @include o-button--small;
  }
}
