.c-footer {
  background-color: $c-gray--75;
  color: $c-gray--15;
  font-size: $font-size-xs;
  text-align: center;

  &__container {
    padding-top: $space;
    padding-bottom: $space;

    @include media('>medium') {
      padding-top: $space-half;
      padding-bottom: $space-half;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-row-gap: $space-half;
    justify-content: center;
    align-items: center;

    @include media('>medium') {
      display: flex;
    }
  }

  &__logo {
    .o-icon {
      margin-right: $space-quarter;
    }

    .o-logo__text {
      max-width: 85px;
      min-width: 85px;
    }
  }

  &__nav {
    display: none;

    @include media('>medium') {
      display: inline-flex;
      margin-left: $space;
    }
  }

  &__privacy {
    @include o-link($c-gray--15, $c-white);
    margin-bottom: $space-half;

    @include media('>medium') {
      margin-bottom: 0;
      margin-left: $space;
      margin-right: $space-half;
    }
  }
}