{% set base_class = actions.base_class|default('c-actions') %}
<div class="{{ bem(base_class, actions.element, actions.modifiers, actions.extra) }}">
  <div class="{{ bem(base_class, 'users') }}">
    {% for item in actions.users %}
      {% include "@avatar" with item %}
    {% endfor %}
    {% include "@button" with {
      "button": {
        "icon_left": {
          "icon" : {
            "name": "icon-actions-add"
          }
        },
        "attributes": {
          "aria-label": "Add User"
        },
        "extra": [bem(base_class, 'button', 'add'), 'js-actions-add-user']
      }
    } %}
  </div>
  {% include "@button" with {
    "button": {
      "text": "5",
      "icon_left": {
        "icon" : {
          "name": "icon-content-type-chat"
        }
      },
      "attributes": {
        "aria-label": "View Notifications"
      },
      "extra": [bem(base_class, 'button', 'notifications'), 'js-actions-view-notifications']
    }
  } %}
  {% include "@button" with {
    "button": {
      "icon_left": {
        "icon" : {
          "name": "icon-content-type-time"
        }
      },
      "attributes": {
        "aria-label": "Time"
      },
      "extra": [bem(base_class, 'button', 'time'), 'js-actions-time']
    }
  } %}
</div>
