.Header-title {
  background-image: url('../images/voxsmart-logo.svg');
  background-repeat: no-repeat;
  text-indent: -9999px;
  width: 200px;
  background-size: 85%;
  background-position: left 10px center;
}
