@mixin o-link($color: $link-color, $color-hover: $link-hover-color) {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: $transition-all;
  text-decoration: none;
  color: $color;
  font-weight: 600;

  &:hover,
  &:focus {
    text-decoration: underline;
    text-underline-position: under;
    color: $color-hover;
  }

  .o-icon + span,
  span + .o-icon {
    margin-left: $space-half;
  }

  svg {
    width: $icon-xsmall;
    height: $icon-xsmall;

    * {
      fill: currentColor;
      transition: $transition-all;
    }
  }
}

.o-link {
  @include o-link;

  &--simple {
    font-weight: 300;
  }
}
