.c-primary-header {
  background-color: $c-gray--dark;
  height: $primary-header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $space-half;
  padding-right: $space;
  border-bottom: 1px solid $c-gray--60;
  position: sticky;
  top: 0;
  z-index: 1;

  @include media('>small') {
    justify-content: flex-start;
  }

  &__logo {
    background-color: $c-white;
    border-radius: 50%;
    margin-left: $space-half;
    margin-right: $space;
  }

  &__last-refresh {
    flex: 1;
    color: $c-gray--15;
    font-size: $font-size-xxs;

    @include media('<=small') {
      display: none;
    }
  }
}

.c-secondary-header {
  width: 100%;
  height: auto;
  background-color: $c-gray--75;
  display: flex;
  justify-content: center;
  padding-top: $space-half;
  padding-bottom: $space-half;

  @include media('>small') {
    padding-top: 0;
    padding-bottom: 0;
    height: $secondary-header-height;
  }

  &__container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    .c-actions {
      margin-top: $space-half;

      @include media('>small') {
        margin-left: $space;
        margin-top: 0;
      }
    }

    @include media('>small') {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}