.c-header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: $space;
  }

  &__logo {
    max-width: 117px;
    opacity: 1;
    visibility: visible;
    transition: $transition-all;

    @include media('>medium') {
      max-width: 156px;
    }
  }
}