{% set base_class = alert.base_class|default('c-alert-table') %}
{% if alert_table %}
  <div class="{{ bem(base_class, alert_table.element, alert_table.modifiers, alert_table.extra) }}">
    {% include "@table" with {
      "table": {
        "heading": alert_table.heading,
        "body": alert_table.body,
        "extra": bem(base_class, 'table')
      }
    } %}
  </div>
{% endif %}