/*------------------------------------*\
  $SOUTHLEFT MICRO SITE STYLES
\*------------------------------------*/

/**
 * SASS Variables Setup
 */

// Colors
$c-black: #151116;
$c-white: #fff;

// Breakpoints
$small: 320px;
$small-plus: 580px;
$medium: 672px;
$medium-plus: 700px;
$large: 1031px;
$xlarge: 1312px;
$max: 1584px;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

//-------------------------------------//

body {
  font-family: 'Inter', sans-serif;
  padding-top: 20px;
  margin: 20px;
}

a {
  text-decoration: none;
}

.o-button {
  padding: 15px 20px;
  background-color: #0F1016;
  color: #fff;
  transition: all 0.15s ease-in-out;
  box-shadow: 0px 5px 10px rgba(15, 16, 22, 0.15);

  &:hover {
    background-color: #313340;
  }

  &--secondary {
    background-color: #585A66;

    &:hover {
      background-color: #82828F;
    }
  }
}
