/**
 * Completely remove from the flow but leave available to screen readers.
 */
.is-vishidden,
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Hide elements only present and necessary for js enabled browsers.
 */
.no-js .no-js-hide {
  display: none;
}

.u-full-width {
  width: 100%;
}

.u-align-center {
  text-align: center;
}

/**
 * Remove all margins/padding
 */
.u-no-spacing {
  padding: 0;
  margin: 0;
}

/**
 * Active on/off states
 */
.u-active--off {
  display: none;
}

[class*="-is-active"].js-toggle-parent,
[class*="-is-active"].js-toggle {
  .u-active--on {
    display: none;
  }

  .u-active--off {
    display: block;
  }
}

[class*="-is-active"] {
  .u-hide-on-active {
    display: none;
  }
}

/**
 * Specific Widths - visible greater than #
 */
.u-hide-until--s {
  @include media("<=small") {
    display: none;
  }
}

.u-hide-until--m {
  @include media("<=medium") {
    display: none;
  }
}

.u-hide-until--l {
  @include media("<=large") {
    display: none;
  }
}

.u-hide-until--xl {
  @include media("<=xlarge") {
    display: none;
  }
}

// Specific Widths - hide greater than #
.u-hide-after--s {
  @include media(">small") {
    display: none;
  }
}

.u-hide-after--m {
  @include media(">medium") {
    display: none !important;
  }
}

.u-hide-after--l {
  @include media(">large") {
    display: none;
  }
}

.u-hide-after--xl {
  @include media(">xlarge") {
    display: none;
  }
}
