/*------------------------------------*\
  $SOUTHLEFT MICRO SITE STYLES
\*------------------------------------*/

/**
 * SASS Variables Setup
 */

// Colors
$c-black: #151116;
$c-white: #fff;

// Breakpoints
$small: 320px;
$small-plus: 580px;
$medium: 672px;
$medium-plus: 700px;
$large: 1031px;
$xlarge: 1312px;
$max: 1584px;

//-------------------------------------//

// body {
//   font-family: Arial;
//   background-color: Blue;
// }

