/*------------------------------------*\
  $SOUTHLEFT MICRO SITE STYLES
\*------------------------------------*/

/**
 * SASS Variables Setup
 */

// Colors
$c-black: #151116;
$c-white: #fff;

// Breakpoints
$small: 320px;
$small-plus: 580px;
$medium: 672px;
$medium-plus: 700px;
$large: 1031px;
$xlarge: 1312px;
$max: 1584px;

//-------------------------------------//

body {
  font-family: Arial;
  padding-top: 20px;
  margin: 20px;
}

a {
  text-decoration: none;
}

.o-button {
  padding: 15px 20px;
  background-color: #0F1016;
  color: #fff;
  transition: all 0.15s ease-in-out;

  &:hover {
    background-color: #FF0000;
  }

  &--secondary {
    background-color: #2c8ef8;
  }
}
