/* ------------------------------------ *\
    $GENERAL VARIABLES/DESIGN TOKENS
\* ------------------------------------ */

$tests: true;

/*
 * Colors
*/

// Brand Colors
$c-red: #FF0000;
$c-red--dark: #E32D22;
$c-blue: #2C8EF8;
$c-green: #70DB98;
$c-yellow: #FFC575;

// Neutrals
$c-black: #000;
$c-gray--dark: #0F1016;
$c-gray--85: #1E202D;
$c-gray--75: #313340;
$c-gray--60: #585A66;
$c-gray--45: #82828F;
$c-gray--30: #A5A8B4;
$c-gray--15: #D3D3DB;
$c-gray--light: #F2F3F6;
$c-white: #fff;

// Theme Colors
$c-primary: $c-red--dark;
$c-secondary: $c-blue;
$c-tertiary: $c-green;
$c-quaternary: $c-yellow;

// Body/Border Color
$c-body: $c-gray--dark;
$c-border: $c-gray--15;

// Default Colors
$c-error--light: #f99;
$c-error: #cb4324;
$c-error--dark: #bf2600;
$c-error--darker: #841a00;

$c-valid--lighter: #fafdfc;
$c-valid--light: #ecf3ee;
$c-valid: #36b370;
$c-valid--dark: #008842;
$c-valid--darker: #1a6343;

$c-warning--lighter: #fffef9;
$c-warning--light: #fffae6;
$c-warning: #ffab00;
$c-warning--dark: #b26100;
$c-warning--darker: #774100;

$c-information--lighter: #fffef9;
$c-information--light: #e6fcff;
$c-information: #00b8d9;
$c-information--dark: #008da6;
$c-information--darker: #005b6b;

/*
 * Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$font-body: 'Inter', sans-serif;
$font-primary: 'Inter', sans-serif;

/**
 * Common breakpoints.
 */
$xsmall: 320px;
$small: 500px;
$medium: 768px;
$large: 960px;
$xlarge: 1080px;
$xxlarge: 1260px;

$breakpoints: ("xsmall": $xsmall, "small": $small, "medium": $medium, "large": $large, "xlarge": $xlarge, "xxlarge": $xxlarge);

/**
 * Max width.
 */
$max-width: $xlarge;
$max-width-s: 650px;
$max-width-m: 880px;
$max-width-l: $large;
$max-width-xl: $xlarge;
$max-width-xxl: $xxlarge;

/**
 * Icons.
 */
$icon-xsmall: 18px;
$icon-small: 26px;
$icon-medium: 30px;
$icon-large: 40px;
$icon-xlarge: 50px;
$icon-xxlarge: 120px;

/**
 * Border/Shadow Styles.
 */
$border--standard: 1px solid $c-border;
$box-shadow: 4px 7px 14px rgba(black, 0.1);
$box-shadow--small: 4px 4px 14px rgba(0, 0, 0, 0.1);
$box-shadow--action: 0px 5px 10px rgba(15, 16, 22, 0.15);

/**
 * Button/Link Styles.
 */
$button-disabled-color: $c-white;
$button-background-disabled-color: $c-gray--30;

// Primary
$button-color--primary: $c-white;
$button-background-color--primary: $c-gray--dark;
$button-hover-color--primary: $c-white;
$button-background-hover-color--primary: $c-gray--75;

// Secondary
$button-color--secondary: $c-white;
$button-background-color--secondary: $c-gray--60;
$button-hover-color--secondary: $c-white;
$button-background-hover-color--secondary: $c-gray--45;

// Text Link
$link-color: $c-gray--75;
$link-hover-color: $c-gray--dark;
$link-active-color: $c-gray--60;
$link-disabled-color: $c-gray--45;

/**
 * Transitions.
 */
$transition-effect: cubic-bezier(0.86, 0, 0.07, 1);
$transition-all: all 0.25s $transition-effect;

/**
 * Z Index.
 */
$z-index-vanish: -1;
$z-index-none: 0;
$z-index-1: 100;
$z-index-2: 200;
$z-index-5: 500;
$z-index-10: 1000;
$z-index-15: 1500;
$z-index-30: 3000;
$z-index-50: 5000;
$z-index-75: 7500;
$z-index-100: 10000;

$z-index-mq-display: $z-index-100;
$z-index-menu-toggle: $z-index-100;
$z-index-back-to-top: $z-index-100;

/**
 * Native Custom Properties
 */

:root {
  --font-size-body: 14px;
  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-h6: 14px;
  --font-size-h5: 16px;
  --font-size-h4: 20px;
  --font-size-h3: 24px;
  --font-size-h2: 30px;
  --font-size-h1: 36px;
}

// Large Breakpoint
@media screen and (min-width: $large) {
  :root {
    --font-size-h1: 42px;
  }
}

/**
 * Font Sizes.
 */
$font-size-body: var(--font-size-body, 14px);
$font-size-xxs: var(--font-size-xxs, 10px);
$font-size-xs: var(--font-size-xs, 12px);
$font-size-h6: var(--font-size-h6, 14px);
$font-size-h5: var(--font-size-h5, 18px);
$font-size-h4: var(--font-size-h4, 23px);
$font-size-h3: var(--font-size-h3, 28px);
$font-size-h2: var(--font-size-h2, 32px);
$font-size-h1: var(--font-size-h1, 42px);

/**
 * Grid.
 */
$grid-columns: 12;
$gutter: 20px;

/**
 * Spacing.
 */
$space: 20px;

/**
 * Spacing - Times.
 */
$space-and-half: calc(#{$space} * 1.5);
$space-double: calc(#{$space} * 2);
$space-triple: calc(#{$space} * 3);
$space-quadruple: calc(#{$space} * 4);

/**
 * Spacing - Divided.
 */
$space-half: calc(#{$space} / 2);
$space-quarter: calc(#{$space} / 4);

/*
 * Theme variables.
 */
$primary-header-height: 60px;
$secondary-header-height: 70px;
$primary-nav-width: 60px;
