/* ------------------------------------ *\
    $HELPER/TRUMP CLASSES
\* ------------------------------------ */

.o-seperator {
  display: inline-flex;
  padding: 0 $space-quarter;
}

.o-hr--small {
  height: 1px;
  width: 80px;
  background-color: $c-border;
  border: 0;
}

/**
 * Completely remove from the flow but leave available to screen readers.
 */
.is-vishidden,
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

/**
 * Hide elements only present and necessary for js enabled browsers.
 */
.no-js .no-js-hide {
  display: none;
}

.u-full-width {
  width: 100%;
}

.u-align-center {
  text-align: center;
}

.u-reversed-out {
  color: $c-white;

  p,
  h1 a,
  h2 a,
  h3 a {
    color: $c-white;
  }
}

/**
 * Remove all margins/padding
 */
.u-no-spacing {
  padding: 0;
  margin: 0;
}

/**
 * Active on/off states
 */
.u-active--off {
  display: none;
}

[class*="-is-active"].js-toggle-parent,
[class*="-is-active"].js-toggle {
  .u-active--on {
    display: none;
  }

  .u-active--off {
    display: block;
  }
}

[class*="-is-active"] {
  .u-hide-on-active {
    display: none;
  }
}

/**
 * Justify left/right content
 */
.u-split-content {
  display: flex;

  @include media("<=xsmall") {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: flex-end;

    > * + * {
      margin-bottom: $space;
    }
  }

  @include media(">xsmall") {
    justify-content: space-between;
    align-items: flex-start;
  }
}
